html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

main {
  display: flex;
  margin: 0;
}

main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

#like-games {
  flex-direction: column;
  padding: 10px;
}

#name {
  font-size: 40px;
}

#avatar {
  width: 150px;
  height: 150px;
  border-radius: 5%;
  box-shadow: inset 0 -3em 3em rgba(156, 156, 156, 0.1),
  0 0  0 2px rgb(0, 0, 0),
  0.3em 0.3em 1em rgba(39, 39, 39, 0.3);
}

