html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

main {
  display: flex;
  margin: 0;
}

main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

#like-games {
  flex-direction: column;
  padding: 10px;
}

#name {
  font-size: 40px;
}



div {
  border: 2px solid limegreen;
}