<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/games" method="POST">
    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input" placeholder="Add a Title" required>
    <label for="genre-input">Genre:</label>
    <select name="genre" id="category-select" required>
      <option value="Shooters">Shooters(FPS and TPS)
      </option>
      <option value="Simulation and sports">Simulation and sports</option>
      <option value="Multiplayer">Multiplayer online battle arena (MOBA)</option>
      <option value="Role-playing">Role-playing (RPG, ARPG, and More)</option>
      <option value="Action-adventure">Action-adventure</option>
      <option value="Survival and horror">Survival and horror</option>
    </select>
      <label for="release-year-input">Release Year:</label>
      <input type="date" name="releaseDate">
    <label for="description-input">Description:</label>
    <textarea name="description" placeholder="About the Game..." id="description-input"></textarea>
    <div>
      <button id="btn" type="submit">Add Game</button>
    </div>
  </form>
</main>

<%- include('../partials/footer') %>