html {
  box-sizing: border-box;
}
 * {
  box-sizing: inherit;
}

main {
  padding: 100px;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

h3 {
  margin-left: 50px;
  font-family: 'Yaldevi', sans-serif;
  font-weight: bold;
  padding: 50px;
}

label {
  font-family: 'Yaldevi', sans-serif;
  padding-left: 150px;
}


form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

textarea {
  box-shadow: inset 0 -3em 3em rgba(42, 40, 40, 0.1),
  0 0  0 2px rgb(105, 142, 94),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
  height: 130px;
  min-height: 130px;
  max-height: 130px;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  box-shadow: inset 0 -3em 3em rgba(42, 40, 40, 0.1),
  0 0  0 2px rgb(105, 142, 94),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#category-select {
  box-shadow: inset 0 -3em 3em rgba(42, 40, 40, 0.1),
  0 0  0 2px rgb(105, 142, 94),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#save-btn {
  color: #FAFAFA;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: bold;
  background-color: gray;
  border: 1px solid #107C10;
  box-shadow: inset 0 -3em 3em rgba(42, 40, 40, 0.1),
  0 0  0 2px #114a11,
  0.3em 0.3em 1em rgba(0,0,0,0.3);
  margin-right: 110px;
  font-size: 20px;
  width: 130px;
}