
h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}


.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  max-width: 1600px;
}

.card {
  border: 2px solid limegreen;
  display: grid;
  width: 300px;
  background-color: rgb(114, 114, 114);
  border-radius: 10px;
  color: black;
  padding: 10px;
}

li {
  text-decoration: none;
}

.card {
  width: 85%;
}

.card-link {
  color: limegreen
}

.card-title {
  font-weight: bold;
}


