
h1 {
  font-size: 45px;
  margin-top: 50px;
  text-align: center;
}

h3 {
  font-family: 'Michroma', sans-serif;
}

main {
  background-color: rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
}

a {
  
  text-decoration: none;
  font-family: 'Michroma', sans-serif;
}

a:hover {
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  max-width: 1800px;
}

.list-group {
  max-width: 270px;
}

.card {
  border: 2px solid 	#107C10;
  box-shadow: inset 0 -3em 3em rgba(42, 40, 40, 0.1),
  0 0  0 2px #107C10,
  0.3em 0.3em 1em rgba(0,0,0,0.3);
  display: grid;
  background-color: rgb(114, 114, 114);
  border-radius: 10px;
  color: black;
  padding: 10px;
}

li {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

p {
  text-align: center;
  justify-content: center;
}

.card {
  width: 80%;
}

.card-link {
  color: limegreen
}

.card-title {
  font-weight: bold;
}


