html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  color: #FAFAFA
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

tr > td {
  padding: 2px;
}

main > section {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 80%;
  border: 2px solid limegreen;
  padding: 5px;
}

.game-info {
  flex-direction: column;
}

.game-container {
  flex-direction: column;
  margin: 5px;
}

.info > #comment-container {
  flex-direction: column;
}

#comment-container > #comment-area {
  width: 100%;
}

#content-textarea {
  width: 300px;
  max-width: 300px;
  height: 70px;
  max-height: 70px;
}

form > #comment-area {
  width: 100%;
  flex-direction: column;
}

#comment-area > #comment-input {
  flex-direction: column;
  width: 100%;
  padding: 0px;
}

#comment-btn {
  margin-top: 15px;
  padding: 5px;
}

#comments {
  width: 100%;
}



